@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300;400;500;600;700;800&display=swap');

.flex-container {
	display: flex;
	flex-grow: 1;
}

.width-responsive {
	flex-direction: column;
}

@media (min-width: 60rem) {
	.width-responsive {
		flex-direction: row;
	}
}

.overview {
	display: flex;
	padding: 0.5rem;
}

.box {
	display: flex;
	flex-direction: column;
	padding: 2rem;
	margin: 0.5rem;
	border-radius: 2rem;
	background-color: var(--container-bg);
	color: var(--text-color);
    backdrop-filter: blur(15px) saturate(160%);
    -webkit-backdrop-filter: blur(15px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, 0.125);
	box-shadow: 0 0 2rem rgba(0, 0, 0, 0.4);
	justify-content: center;
	flex-grow: 1;
}

.section-title {
	display: flex;
	flex-direction: row;
	margin: 1.5rem;
	margin-bottom: 0;
}

.section-text {
	color: white;
	margin: 0;
	text-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.5);
	font-weight: 500;
}

.section-line {
	background-color: white;
	opacity: 80%;
	margin: auto;
	padding: 0;
	height: 0.1rem;
	margin-left: 1.5rem;
	box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
	flex-grow: 1;
}

.separator-line {
	background-color: rgb(185, 185, 185);
	opacity: 30%;
	margin: 0.5rem 0;
	padding: 0;
	height: 0.1rem;
	width: 100%
}

.separator-line-vertical {
	background-color: rgb(185, 185, 185);
	opacity: 30%;
	margin: 0 1rem;
	padding: 0;
	width: 0.1rem;
}

.profile {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: start;
	flex-grow: 0;
}

.profile-picture {
	width: 100px;
	height: 100px;
	overflow: hidden;
	border-radius: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 1rem
}

.profile-picture img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.username {
	margin: 0;
	font-size: 2.5rem;
	line-height: 2.5rem;
	font-weight: 400;
}

.username2 {
	margin: 0;
	font-size: 1.3rem;
	line-height: 1.5rem;
	font-weight: 300;
	color: white;
	text-decoration: none;
}

.username2:hover {
	text-decoration: underline;
}

.subtext {
	margin: 0px;
	font-size: 0.8rem;
	font-weight: 200;
	color: rgb(201, 201, 201);
}

.gray {
	color: rgb(201, 201, 201);
}

.statistic-title {
	margin: 0;
	line-height: 1.2rem;
	font-size: 1rem;
	font-weight: 300;
}

.statistic {
	margin: 0;
	font-size: 2.5rem;
	font-family: sans-serif;
	font-weight: 600;
	line-height: 2.5rem;
}

.date-statistic {
	margin: 0;
	font-size: 2.2rem;
	font-family: sans-serif;
	font-weight: 600;
}

.trophies-div {
	display: flex;
	flex-direction: row;
}

.trophies-button {
	border-radius: 1rem;
	margin-left: 0.5rem;
	padding: 0 0.7rem;
	background: rgba(100, 100, 100, 0.7);
    color: white;
	font-size: 0.6rem;
    border: 0.1rem solid white;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

.orange {
	color: rgb(255, 136, 0);
}

.number {
	font-family: Arial;
}

.bold {
	font-weight: 500;
}

.statistic-outline {
	height: 1rem;
	background-color: rgba(0, 0, 0, 0);
	border: white solid 0.05rem;
	border-radius: 2rem;
	margin: 0.5rem 0;
}

.statistic-bar {
	height: 1rem;
	background-color: rgba(255, 255, 255, 0.6);
	border-radius: 2rem;
}

.title {
	font-size: 1.8rem;
	margin: 0;
}

.section-button {
	border-radius: 1rem;
	margin: 1rem 0;
	padding: 0.2rem 1rem;
	background: rgba(100, 100, 100, 0.7);
    color: white;
	font-size: 1rem;
	font-family: 'Kanit';
	font-weight: 300;
    border: 0.1rem solid white;
    cursor: pointer;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
	transition: transform 0.3s ease;
}

.section-button:hover {
	transform: scale(1.05);
}

.search-bar {
	background-color: rgba(0, 0, 0, 0.2);
	color: var(--text-color);
	margin-bottom: 0.5rem;
	padding: 0.5rem 1rem;
	font-size: 1rem;
	border: 0.1rem white solid;
	width: 100%;
	border-radius: 2rem 0 0 2rem;
	border-right: none;
}

.search-bar-button {
	background-color: rgba(0, 0, 0, 0.2);
	color: var(--text-color);
	margin-bottom: 0.5rem;
	font-size: 1rem;
	border: 0.1rem white solid;
	width: 100%;
	border-radius: 0 2rem 2rem 0;
	width: 3rem;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.search-bar-button:hover {
	background-color: rgba(147, 147, 147, 0.2);
}

.search-bar-button-deactivated {
	background-color: rgba(0, 0, 0, 0.2);
	color: var(--text-color);
	margin-bottom: 0.5rem;
	font-size: 1rem;
	border: 0.1rem white solid;
	width: 100%;
	border-radius: 0 2rem 2rem 0;
	width: 3rem;
	border-left: none;
	display: flex;
	justify-content: center;
	align-items: center;
}

.filters {
	margin-bottom: 0.5rem;
	display: flex;
}

.filter-container {
	display: flex;
	flex-direction: row;
	flex-grow: 0;
}

.checkbox {
	user-select: none;
}

.select-bar {
	background-color: transparent;
	color: var(--text-color);
	border: 2px solid #888;
	border-radius: 0.5rem;
	padding: 0rem 0.5rem;
	cursor: pointer;
	margin: 0 0.5rem;
}

.select-sort-button {
	background: transparent;
	color: var(--text-color);
    border: 2px solid #888;
	border-left: none;
	border-radius: 0 0.5rem 0.5rem 0;
	padding: 0rem 0.5rem;
    cursor: pointer;
}

.main-select-option {
	color: orangered;
	font-weight: 600;
}

.select-option {
	background-color: var(--container-bg);
}

#viewer {
	height: 20rem;
	flex-grow: 0;
}

.submission {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.content-container {
	display: flex;
	flex-direction: column;
	height: 100%;
	flex-grow: 1;
}

.content {
	overflow-y: auto;
	flex-grow: 1;
}

.submission-title {
	font-size: 1.8rem;
	line-height: 1.8rem;
	margin: 0;
	min-height: 2rem;
	/* text-decoration: underline; */
	cursor: pointer;
}

.submission-title:hover {
	text-decoration: underline;
}

.submission-body {
	margin-top: 0.5rem;
	font-weight: 300;
	flex-shrink: 1;
}

.submission-info {
	font-size: 0.8rem;
}

.submission-media {
	height: 100%;
	max-width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
	border-radius: 2rem;
	margin-left: 2rem;
}

.plot {
	height: 100%;
	background-color: rgba(255, 255, 255, 0.05);
	border-radius: 0.5rem;
}

.subreddits-table-container {
	max-height: 15rem;
	overflow-y: auto;
}

.subreddits-table {
	width: 100%;
	border-collapse: collapse;
}

.sort-criteria {
	cursor: pointer;
}

.sort-criteria:hover {
	text-decoration: underline;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #838383;
    border-radius: 6px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #696969;
}

th, td {
	padding: 8px;
	text-align: left;
}
thead {
	position: sticky;
	top: 0;
	z-index: 1;
	background-color: rgb(87, 70, 70);
}
tr:nth-child(even) {
	background-color: #0000001c;
}

.subreddit-count {
	margin: 0;
	margin-top: 0.5rem;
	font-size: 1rem;
	font-weight: 300;
	color: rgb(218, 218, 218);
}

.switch-container {
	position: relative;
	display: flex;
	margin: 0.5rem;
	justify-content: center;
	align-items: center;
}

.switch-options {
	display: flex;
	border: 1px solid #ccc;
	border-radius: 2rem;
	width:100%;
	background-color: var(--container-bg);
	color: var(--text-color);
    backdrop-filter: blur(15px) saturate(160%);
    -webkit-backdrop-filter: blur(15px) saturate(160%);
    border: 1px solid rgba(255, 255, 255, 0.125);
}

.switch-option {
	padding: 0.8rem 1rem;
	cursor: pointer;
	text-align: center;
	width: 33.3%;
	border-radius: 2rem;
	transition: background-color 0.3s ease, color 0.3s ease;
}

.switch-option:hover {
	background-color: #ffffff17;
}

#slider {
	position: absolute;
	top: 0;
	left: 0;
	width: 33.3%;
	height: 100%;
	background-color: transparent;
	border-radius: 2rem;
	border: 2px white solid;
	transition: transform 0.3s ease;
}

.browser-container {
	display: flex;
	flex-direction: column;
	width: 35rem;
	flex-shrink: 0;
}

@media (max-width: 60rem) {
	.browser-container {
		width: 100%;
	}
}

#browser {
	height: 30rem;
	overflow-y: auto;
}

.browser-post {
	background: rgba(255, 255, 255, 0.068);
	border: 1.2px rgb(255, 136, 0) solid;
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	margin-bottom: 1rem;
	width: 100%;
	cursor: pointer;
	transition: border-color 0.3s ease;
}

.browser-post:hover {
	background: rgba(255, 255, 255, 0.15);
	border: 1.2px rgb(255, 255, 255) solid;
}

.browser-comment {
	background: rgba(255, 255, 255, 0.068);
	/* border: 1px rgb(0, 225, 255) solid; */
	border-radius: 1rem;
	padding: 1rem;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	box-shadow: 0 2px 4px rgba(0,0,0,0.1);
	margin-bottom: 1rem;
	width: 100%;
	cursor: pointer;
	transition: border-color 0.3s ease;
}

.browser-comment:hover {
	background: rgba(255, 255, 255, 0.15);
}

.pie-container {
	display: flex;
	flex-grow: 0;
	flex-direction: column;
	justify-content: center;
}

.pie-chart {
	width: 18rem;
	height: 18rem;
	flex-grow: 0;
}

.icon {
	/* filter: brightness(100); */
	margin-left: 0.3rem;
}

.link {
	text-decoration: none;
	cursor: pointer;
}

.link:hover {
	text-decoration: underline;
}

.factors-div {
	justify-content: center;
	margin-bottom: 1.5rem;
	flex-grow: 0;
}

.factor-container {
	flex-direction: column;
	flex: 1;
}

.factor-list {
	max-height: 13rem;
	overflow-y: auto;
}

.factor {
	margin: 0.5rem 0;
	line-height: 1.1rem;
	font-size: 1rem;
	font-weight: 300;
	cursor: pointer;
}

.factor:hover {
	font-weight: 500;
}