<!DOCTYPE html>
{% load static %}

{{ data|json_script:"django_data" }}

<html lang="en">
<head>
	<script>
        (function () {
          const savedTheme = localStorage.getItem('theme');
          const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          const initialTheme = savedTheme || (prefersDark ? 'dark' : 'light');
      
          const themeVars = initialTheme === 'dark' ? {
            '--header-bg': '#2b2735',
            '--container-bg': 'rgba(0, 0, 0, 0.5)',
            '--text-color': 'white',
            '--accent-color': '#a29bfe',
            '--search-bg': 'rgba(255, 255, 255, 0.5)',
            '--search-text-color': 'black',
            '--header-shadow': '0 0 2rem rgba(0, 0, 0, 0.4)',
            '--btn-hover-bg': 'white',
            '--btn-hover-text': '#a29bfe',
            '--theme-toggle-hover': 'rgba(255, 255, 255, 0.1)',
            '--filters-btn': 'rgba(255, 255, 255, 0.1)',
            '--filters-btn-hov': 'rgba(255, 255, 255, 0.4)'
          } : {
            '--header-bg': '#AE9EC4',
            '--container-bg': 'rgba(255, 255, 255, 0.3)',
            '--text-color': '#2d3436',
            '--accent-color': '#6c5ce7',
            '--search-bg': 'rgba(255, 255, 255, 0.9)',
            '--support-bg': 'rgba(0, 0, 0, 0.1)',
            '--search-text-color': 'black',
            '--header-shadow': '0 0 2rem rgba(0, 0, 0, 0.4)',
            '--btn-hover-bg': 'white',
            '--btn-hover-text': '#6c5ce7',
            '--theme-toggle-hover': 'rgba(0, 0, 0, 0.1)',
            '--filters-btn': 'rgba(0, 0, 0, 0.3)',
            '--filters-btn-hov': 'rgba(0, 0, 0, 0.5)'
          };
      
          const root = document.documentElement;
          for (const key in themeVars) {
            root.style.setProperty(key, themeVars[key]);
          }
        })();
      </script>
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/analysis.css' %}">
	<script src="https://echarts.apache.org/en/js/vendors/echarts/dist/echarts.min.js"></script>
	<script src="{% static 'js/analysis.js' %}" defer></script>
	<script src="{% static 'js/theme.js' %}" defer></script>
	<title>ReDive analysis</title>
</head>
<body>
	<header class="header">
		<button 
            id="theme-toggle" 
            class="theme-toggle" 
            data-sun-url="{% static 'img/sun.png' %}" 
            data-moon-url="{% static 'img/moon.png' %}">
            🌓
        </button>
		<a href="{% url 'homepage' %}">
            <h1><span class="re">Re</span><span class="dive">Dive</span></h1>
        </a>
	</header>
	<div class="section-title">
		<h2 class="section-text">ACCOUNT OVERVIEW</h2>
		<div class="section-line"></div>
	</div>
	<div class="overview width-responsive">
		<div class="flex-container", style="flex-direction: column;">
			<div class="box profile">
				<div class="profile-picture">
					<img src={{ data.pic }} alt="Profile Picture" />
				</div>
				<div class="profile-info">
					<p class="username">{{ data.name }}</p>
        			<a class="username2" href="https://www.reddit.com/user/{{ data.username }}" target="_blank">u/{{ data.username }}<img src="{% static 'img/external-link.png' %}", width="15", class="icon"></a>
        			<p class="subtext"><img src="{% static 'img/clock.png' %}", width="10", class="icon"> Data from <span class="bold">{{ data.date_today }}</span>. <a href="" style="color: inherit">Analyze again &#8635</a></p>
				</div>
			</div>	
			<div class="flex-container", style="flex-direction: row;">
				<div class="box", style="flex-grow: 0">
					<div class="trophies-div">
						<p class="statistic-title">Trophies</p>
						<button class="trophies-button">View</button>
					</div>
					<p class="statistic", style="color: gold;">{{ data.trophies }}</p>
					<div class="separator-line"></div>
					<p class="statistic-title">Registration date</p>
					<p class="date-statistic">{{ data.date_of_creation|date:"M j, Y" }}</p>
					<p class="subtext">Account is <span class="bold">{{ data.account_age }}</span> years old</p>
				</div>
				<div class="box">
					<p class="statistic-title">Post count | <span class="orange">Post karma</span></p>
					<p class="statistic">{{ data.post_count }}〡<span class="orange">{{ data.post_karma }}<img src="{% static 'img/upvote.png' %}", width="25", class="icon"></span></p>
					<div class="separator-line"></div>
					<p class="statistic-title">Comment count | <span class="orange">Comment karma</span></p>
					<p class="statistic">{{ data.comment_count }}〡<span class="orange">{{ data.comment_karma }}<img src="{% static 'img/upvote.png' %}", width="25", class="icon"></span></p>
					<p class="subtext"><span class="bold">2</span> comments on user's own posts</p>
				</div>
			</div>
		</div>
		<div class="flex-container", style="flex-direction: row;">
			<div class="box">
				<p class="statistic-title">Posting frequency: <span class="orange bold">{{data.posting_frequency}}</span> per day</p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="posting-frequency"></div>
				</div>
				<div class="separator-line"></div>
				
				<p class="statistic-title">Avarage upvotes per post: <span class="orange bold">{{ data.up }}</span></p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="avarage-upvotes-post"></div>
				</div>
				<div class="separator-line"></div>

				<p class="statistic-title">Avarage comments per post: <span class="orange bold">{{ data.comment_amount }}</span></p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="avarage-comments"></div>
				</div>
				<div class="separator-line"></div>

				<p class="statistic-title">Avarage upvotes per comment: <span class="orange bold">{{ data.up_comment }}</span></p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="avarage-upvotes-comment"></div>
				</div>
				<div class="separator-line"></div>

				<p class="statistic-title">Upvotes to downvotes ratio: <span class="orange bold">{{ data.up_v_down }}</span></p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="upvotes-ratio"></div>
				</div>
			</div>
			<div class="box", style="align-items: center; flex-shrink: 1; flex-grow: 0;">
				<p class="title">Bot rank</p>
				<p class="statistic", style="color: lightgreen;">18%</p>
				<button class="section-button" onclick="scroll_to_analysis()">Detailed analysis&nbsp;⬇</button>
				<div class="separator-line"></div>
				<p class="title">Active in:</p>
				{% for sr in data.subreddit_names %}
					<a class="subtext link" href="https://www.reddit.com/{{ sr }}" target="_blank">{{ sr }}</a>
				{% endfor %}
				{% if data.subreddit_activity|length > 3 %}
					<p class="subtext">- and {{ data.k }} more -</p>
				{% else %}
					<p class="subtext">No subreddits</p>
				{% endif %}
				<button class="section-button", style="margin-bottom: 0;" onclick="scroll_to_monitor()">Activity monitor&nbsp;⬇</button>
			</div>
		</div>
	</div>
	<div class="section-title">
		<h2 class="section-text" id="activity-monitor">ACTIVITY MONITOR</h2>
		<div class="section-line"></div>
	</div>
	<div class="flex-container width-responsive">
		<div class="box">
			<p class="title", style="line-height: 1.8rem;">Activity history</p>
			<div id="plot" class="plot"></div>
		</div>
		<div class="box" style="flex-grow: 0;"> 
			<p class="title" style="line-height: 1.8rem; margin-bottom: 0.5rem;">Activity by subreddits</p>
			<div class="table-container">
				<table class="table">
					<thead>
						<tr id="table-head">
							<th class="subreddit-sort-criteria" onclick='fill_subreddits_table("name")'>Name</th>
							<th class="subreddit-sort-criteria" onclick='fill_subreddits_table("posts")'>Posts</th>
							<th class="subreddit-sort-criteria" onclick='fill_subreddits_table("comments")'>Comments</th>
							<th class="subreddit-sort-criteria" onclick='fill_subreddits_table("upvotes")'>Upvotes</th>
						</tr>
					</thead>
					<tbody id="table-body"></tbody>
				</table>
			</div>
			<p class="subreddit-count">Showed activity in {{ j }} subreddits total</p>
		</div>
	</div>
	<div class="section-title">
		<h2 class="section-text" id="behaviour-analysis">BEHAVIOUR ANALYSIS</h2>
		<div class="section-line"></div>
	</div>
	<div class="flex-container width-responsive">
		<div class="box", style="flex-direction: row; justify-content: start; flex-grow: 0;">
			<div class="pie-container">
				<p class="title", style="line-height: 1.8rem; text-align: center;">Bot rank</p>
				<div id="pie_chart" class="pie-chart"></div>
			</div>
			<div style="display:flex; flex-grow: 1; justify-content: center;">
				<div class="separator-line-vertical"></div>
			</div>
			<div class="flex-container", style="flex-direction: column;">
				<div class="flex-container factors-div">
					<div class="factor-container">
						<p class="title", style="line-height: 1.8rem;">Human: <span style="color: #8ad184;">82%</span></p>
						<div class="factor-list">
							<p class="factor"><img src="{% static 'img/checkmark.png' %}", width="15", style="margin-right: 10px">User is a moderator</p>
							<p class="factor"><img src="{% static 'img/checkmark.png' %}", width="15", style="margin-right: 10px">Many upvotes on posts</p>
							<p class="factor"><img src="{% static 'img/checkmark.png' %}", width="15", style="margin-right: 10px">Many upvotes on comments</p>
							<p class="factor"><img src="{% static 'img/checkmark.png' %}", width="15", style="margin-right: 10px">Each post is unique</p>
							<p class="factor"><img src="{% static 'img/checkmark.png' %}", width="15", style="margin-right: 10px">Account is 4 years old</p>
							<p class="factor"><img src="{% static 'img/checkmark.png' %}", width="15", style="margin-right: 10px">Account has 22 trophies</p>
						</div>
					</div>
					<div style="display:flex; justify-content: center;">
						<div class="separator-line-vertical"></div>
					</div>
					<div class="factor-container">
						<p class="title", style="line-height: 1.8rem;">Bot: <span style="color: #ffa8a8;">18%</span></p>
						<div class="factor-list">
							<p class="factor"><img src="{% static 'img/cross.png' %}", width="15", style="margin-right: 10px">No profile picture</p>
							<p class="factor"><img src="{% static 'img/cross.png' %}", width="15", style="margin-right: 10px">User is active in too many subreddits</p>
							<p class="factor"><img src="{% static 'img/cross.png' %}", width="15", style="margin-right: 10px">Generic username</p>
						</div>
					</div>
				</div>
				<p class="statistic-title">We examine behaviour patterns to evaluate the possibility of a user being a bot. There is always room for error, and no program can tell for sure if an account is run by a bot. We only provide you with useful analysis, making your verdict easier to make.</p>
				<!-- <p class="statistic-title"><b>Account is a moderator</b><br>If an account is a moderator, this means that this user is moderating a subreddit.</p> -->
			</div>
			
		</div>
		<div class="box", style="flex-grow: 1;">
			<p class="title", style="line-height: 1.8rem; text-align: center;">Semanthic analysis</p>
			<p>Here is going to be a list of the user's frequently used words, themes and propaganda/hate words.</p>
		</div>
	</div>
</body>
</html>