<!DOCTYPE html>
{% load static %}

{{ data|json_script:"django_data" }}

<html lang="en">
<head>
	<script>
        (function () {
          const savedTheme = localStorage.getItem('theme');
          const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          const initialTheme = savedTheme || (prefersDark ? 'dark' : 'light');
      
          const themeVars = initialTheme === 'dark' ? {
            '--header-bg': '#2b2735',
            '--container-bg': 'rgba(0, 0, 0, 0.5)',
            '--text-color': 'white',
            '--accent-color': '#a29bfe',
            '--search-bg': 'rgba(255, 255, 255, 0.5)',
            '--search-text-color': 'black',
            '--header-shadow': '0 0 2rem rgba(0, 0, 0, 0.4)',
            '--btn-hover-bg': 'white',
            '--btn-hover-text': '#a29bfe',
            '--theme-toggle-hover': 'rgba(255, 255, 255, 0.1)',
            '--filters-btn': 'rgba(255, 255, 255, 0.1)',
            '--filters-btn-hov': 'rgba(255, 255, 255, 0.4)'
          } : {
            '--header-bg': '#AE9EC4',
            '--container-bg': 'rgba(255, 255, 255, 0.3)',
            '--text-color': '#2d3436',
            '--accent-color': '#6c5ce7',
            '--search-bg': 'rgba(255, 255, 255, 0.9)',
            '--support-bg': 'rgba(0, 0, 0, 0.1)',
            '--search-text-color': 'black',
            '--header-shadow': '0 0 2rem rgba(0, 0, 0, 0.4)',
            '--btn-hover-bg': 'white',
            '--btn-hover-text': '#6c5ce7',
            '--theme-toggle-hover': 'rgba(0, 0, 0, 0.1)',
            '--filters-btn': 'rgba(0, 0, 0, 0.3)',
            '--filters-btn-hov': 'rgba(0, 0, 0, 0.5)'
          };
      
          const root = document.documentElement;
          for (const key in themeVars) {
            root.style.setProperty(key, themeVars[key]);
          }
        })();
      </script>
	<link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{% static 'css/common.css' %}">
	<link rel="stylesheet" href="{% static 'css/analysis.css' %}">
	<script src="https://echarts.apache.org/en/js/vendors/echarts/dist/echarts.min.js"></script>
	<script src="{% static 'js/analysis.js' %}" defer></script>
	<script src="{% static 'js/theme.js' %}" defer></script>
	<title>ReDive analysis</title>
</head>
<body>
	<header class="header">
		<button 
            id="theme-toggle" 
            class="theme-toggle" 
            data-sun-url="{% static 'img/sun.png' %}" 
            data-moon-url="{% static 'img/moon.png' %}">
            🌓
        </button>
		<a href="{% url 'homepage' %}">
            <h1><span class="re">Re</span><span class="dive">Dive</span></h1>
        </a>
	</header>
	<div class="section-title">
		<h2 class="section-text">ACCOUNT OVERVIEW</h2>
		<div class="section-line"></div>
	</div>
	<div class="overview width-responsive">
		<div class="flex-container", style="flex-direction: column;">
			<div class="box profile">
				<div class="profile-picture">
					<img src={{ data.pic }} alt="{% static 'img/clock.png' %}" />
				</div>
				<div class="profile-info">
					<p class="username">{{ data.name }}</p>
        			<a class="username2" href="https://www.reddit.com/user/{{ data.username }}" target="_blank">u/{{ data.username }}<img src="{% static 'img/external-link.png' %}", style="width: 1rem;" class="icon"></a>
        			<p class="subtext"><img src="{% static 'img/clock.png' %}", class="icon" style="width: 0.5rem;"> Data from <span id="analysis_date"></span>. 
						<!-- <a href="" style="color: inherit">Analyze again &#8635</a> -->
					</p>
				</div>
			</div>	
			<div class="flex-container", style="flex-direction: row;">
				<div class="box", style="flex-grow: 0">
					<div class="trophies-div">
						<p class="statistic-title">Trophies</p>
						<button class="trophies-button" id="trophies_button">View</button>
					</div>
					<p class="statistic", style="color: gold;" id="trophies_count">{{ data.trophies|length }}</p>
					<div class="separator-line"></div>
					<p class="statistic-title">Registration date</p>
					<p class="date-statistic">{{ data.date_of_creation|date:"M j, Y" }}</p>
					<p class="subtext">Account is
						{% if data.account_age == 0 %}
							less than a year
						{% elif data.account_age == 1 %}
							<span class="bold">1</span> year
						{% else %}
							<span class="bold">{{ data.account_age }}</span> years
						{% endif %}
						 old
					</p>
				</div>
				<div class="box user-score" onclick="toggle_upvotes()">
					<p class="statistic-title">Post count | <span class="orange" id="post_upvotes_title">Post karma</span></p>
					<p class="statistic"><span id="post_count" class="number">{{ data.post_count }}</span>〡<span class="orange number" id="post_upvotes">{{ data.post_karma }}</span><img src="{% static 'img/upvote.png' %}", class="icon"></p>
					<div class="separator-line"></div>
					<p class="statistic-title">Comment count | <span class="orange" id="comment_upvotes_title">Comment karma</span></p>
					<p class="statistic"><span id="comment_count" class="number">{{ data.comment_count }}</span>〡<span class="orange number" id="comment_upvotes">{{ data.comment_karma }}</span><img src="{% static 'img/upvote.png' %}", class="icon"></p>
					<p class="subtext" id="upvotes_switch_text">Click to switch to sum of upvotes</p>
				</div>
			</div>
		</div>
		<div class="flex-container", style="flex-direction: row;">
			<div class="box">
				<form>
					<p class="statistic-title">Showing statistics for: 
						<select class="select-bar" id="statistics_select", style="margin-left: 0;">
							<option class="select-option">Posts</option>
							<option class="select-option">Comments</option>
							<option class="select-option">Posts + comments</option>
						</select>
					</p>
				</form>
				<div style="flex-grow: 1; align-items: center;">
				</div>
				<p class="statistic-title" id="posting-frequency-title"></p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="posting-frequency"></div>
				</div>
				<div class="separator-line"></div>
				
				<p class="statistic-title" id="average-upvotes-title"></p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="average-upvotes"></div>
				</div>
				<div class="separator-line"></div>

				<p class="statistic-title" id="average-comments-title"></p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="average-comments"></div>
				</div>
				<div class="separator-line"></div>

				<p class="statistic-title" id="upvotes-ratio-title"></p>
				<div class="statistic-outline">
					<div class="statistic-bar" id="upvotes-ratio"></div>
				</div>
			</div>
			<div class="box", style="align-items: center; flex-shrink: 1; flex-grow: 0;">
				<p class="title", style="margin-bottom: 0.5rem;">Bot rank</p>
				<p class="statistic" id="bot-likelihood-percentage">{{data.bot_likelihood_percentage}}%</p>
				<button class="section-button" onclick="scroll_to_analysis()">Detailed analysis&nbsp;⬇</button>
				<div class="separator-line"></div>
				<p class="title", style="margin: 0.5rem 0;">Active in:</p>
				{% for sr in data.subreddit_names|slice:":4" %}
					<p class="subtext link" onclick="view_subreddit('{{ sr }}')">{{ sr }}</p>
				{% endfor %}
				<button class="section-button", style="margin-bottom: 0;" onclick="scroll_to_monitor()">More subreddits&nbsp;⬇</button>
			</div>
		</div>
	</div>
	<div class="section-title">
		<h2 class="section-text" id="submissions">SUBMISSIONS</h2>
		<div class="section-line"></div>
	</div>
	<div class="flex-container width-responsive">
		<div class="browser-container">
			<div class="switch-container">
				<div class="switch-options">
					<div class="switch-option" id="posts_switch" onclick="switch_to_posts()", style="color: orange;">Posts</div>
					<div class="switch-option" id="comments_switch" onclick="switch_to_comments()">Comments</div>
					<div class="switch-option" id="everything_switch" onclick="switch_to_everything()">Everything</div>
				</div>
				<div id="slider"></div>
			</div>
			<div class="box">
				<form>
					<div class="flex-container", style="flex-direction: row;">
						<input type="text" class="search-bar" id="submissions-search" placeholder="Search titles...">
						<div class="search-bar-button" onclick="toggle_body_search()" title="Include post body text">
							<img src="{% static 'img/post-body.png' %}" style="width: 1.3rem;" id="search-bar-button">
						</div>
					</div>
					<div class="flex-container filters", style="justify-content: space-between;">
						<div class="filter-container">
							<p>Sort by </p>
							<select class="select-bar" id="sort_select", style="margin-right: 0; border-radius: 0.5rem 0 0 0.5rem;">
								<option class="select-option">Date</option>
								<option class="select-option">Upvotes</option>
								<option class="select-option" id="comments_sort_option">Comments</option>
							</select>
							<button type="button" class="select-sort-button" onclick="change_sort_direction(this)">▼</button>
						</div>
						<label class="checkbox">
							<input type="checkbox" class="posts-only" id="image_checkbox">
							Media
						</label>
						<label class="checkbox">
							<input type="checkbox" class="posts-only" id="spoiler_checkbox">
							Spoiler
						</label>
						<label class="checkbox">
							<input type="checkbox" class="posts-only" id="nsfw_checkbox">
							NSFW
						</label>
						<label class="checkbox" style="margin-right: 1rem;">
							<input type="checkbox" class="posts-only" id="oc_checkbox">
							OC
						</label>
					</div>
					<div class="flex-container filters">
						<div class="filter-container">
							<p>Filter by subreddit </p>
							<select class="select-bar" id="subreddit_select">
								<option class="main-select-option">All</option>
								{% for sub in data.subreddit_names %}
								<option class="select-option">{{ sub }}</option>
								{% endfor %}
							</select>
						</div>
						<p style="color: lightgray;">• <span id="results_count">{{data.post_count}} results</span></p>
					</div>
				</form>
				<div id="browser" class="custom-scrollbar"></div>
			</div>
		</div>
		<div class="flex-container", style="flex-direction: column;">
			<div class="box", id="viewer">
				<p class="title gray" id="viewer_hint", style="text-align: center;">Select a post to view it here</p>
				<div class="submission" id="submission_container" style="display: none;">
					<div class="content-container">
						<div class="content custom-scrollbar">
							<p class="submission-title" id="submission_title" onclick="open_submission_link()">Title<img src="{% static 'img/external-link.png' %}", width="20", class="icon"></p>
							<p class="submission-body" id="submission_body">Body text</p>
						</div>
						<div class="separator-line"></div>
						<p class="submission-info gray" id="submission_info">
							<a class="link" target="_blank">r/subreddit</a>
							<span></span>
							<span style="color: white;"></span>
						</p>
					</div>
					<video controls muted playsinline class="submission-media" id="submission_video">
						<source src="https://v.redd.it/odt2vbftnieb1/DASH_480.mp4" type="video/mp4">
						Your browser does not support the video tag.
					</video>
					<img src="" class="submission-media" id="submission_image">
					<div class="submission-media" style="display: flex; flex-direction: column; cursor: pointer; align-items: center; margin-left: 2rem" id="submission_link">
						<p style="text-align: center;">
							This post<br>
							has an<br>
							attached<br>
							link
						</p>
						<img src="{% static 'img/external-link.png' %}", width="40", class="icon">
					</div>
				</div>
			</div>
			<div class="box", style="flex-grow: 1;">
				<div id="plot" class="plot"></div>
			</div>
		</div>
	</div>
	<div class="section-title">
		<h2 class="section-text" id="activity-monitor">TOPICS</h2>
		<div class="section-line"></div>
	</div>
	<div class="topics width-responsive">
		<div class="box", style="flex-grow: 0; display: flex; justify-content: start;">
			<div class="subreddits-container">
				<p class="title">Subreddits <span style="color: lightgray; font-weight: 300;">({{ data.subreddit_names|length }} total)</span></p>
				<div class="subreddits-table-container custom-scrollbar">
					<table class="subreddits-table">
						<thead>
							<tr id="subreddits-head">
								<th class="sort-criteria" onclick='fill_subreddits_table("name")'>Name</th>
								<th class="sort-criteria" onclick='fill_subreddits_table("posts")'>Posts</th>
								<th class="sort-criteria" onclick='fill_subreddits_table("comments")'>Comments</th>
								<th class="sort-criteria" onclick='fill_subreddits_table("upvotes")'>Upvotes</th>
							</tr>
						</thead>
						<tbody id="subreddits-body"></tbody>
					</table>
				</div>
				<p class="subtext" id="upvotes_switch_text">Select a subreddit to view submissions</p>
			</div>
		</div>
		<div class="box">
			<div class="flex-container semantics">
				<div class="top-words">
					<p class="title">Frequently used words</p>
					<div class="words-table-container custom-scrollbar">
						<table class="words-table">
							<!-- <thead>
								<tr id="subreddits-head">
									<th class="sort-criteria" onclick='fill_subreddits_table("name")'>Word</th>
									<th class="sort-criteria" onclick='fill_subreddits_table("posts")'>Encounters</th>
								</tr>
							</thead> -->
							<tbody id="words-body">
								{% for word in data.top_words %}
									<tr>
										<td class="word" onclick="view_word('{{ word.0 }}')">{{ word.0 }}</td>
										<td class="word-count">{{ word.1 }}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<p class="subtext" id="upvotes_switch_text">Select a word to see it in context</p>
				</div>
				<div style="display:flex; justify-content: center;">
					<div class="separator-line-vertical"></div>
				</div>
				<div style="display: flex; flex-direction: column;">
					<p class="title">Sentiment</p>
					<div class="sentiments-div">
						<div class="sentiment-container">
							<div class="gauge" id="gauge"></div>
							<p style="margin-left: 2rem;" class="sentiment-description description">Polarity refers to the emotional orientation expressed in the text. It is measured on a scale from -1.0 to 1.0, where negative values indicate negative sentiment and positive values indicate positive.</p>
						</div>
						<div class="separator-line"></div>
						<div class="sentiment-container">
							<div class="gauge" id="gauge2"></div>
							<p style="margin-left: 2rem;" class="sentiment-description description">Subjectivity measures the degree to which the text expresses personal opinions or beliefs rather than objective facts. It ranges from 0.0 (completely objective) to 1.0 (completely subjective).</p>
						</div>
					</div>
				</div>
				<!-- <div>
					<p class="title">Sentiment</p>
				</div> -->
			</div>
		</div>
	</div>
	<div class="section-title">
		<h2 class="section-text" id="behaviour-analysis">BEHAVIOUR ANALYSIS</h2>
		<div class="section-line"></div>
	</div>
	<div class="flex-container">
		<div class="box behavior-container width-responsive">
			<div class="pie-container">
				<div id="pie_chart" class="pie-chart"></div>
			</div>
			<div style="display:flex; justify-content: center;">
				<div class="separator-line-vertical"></div>
			</div>
			<div class="flex-container", style="flex-direction: column;">
				<div class="flex-container factors-div">
					<div class="factor-container">
						<p class="title">Human: <span style="color: #8ad184;">{{data.human_likelihood_percentage}}%</span></p>
						<div class="factor-list">
							{% for point in data.human_points %}
							<p class="factor" onmouseover="change_factor_description('{{point.description}}')"><img src="{% static 'img/checkmark.png' %}", style="margin-right: 10px; width: 1rem;">{{point.name}}</p>
							{% endfor %}
						</div>
					</div>
					<div style="display:flex; justify-content: center;">
						<div class="separator-line-vertical"></div>
					</div>
					<div class="factor-container">
						<p class="title">Bot: <span style="color: #ffa8a8;">{{data.bot_likelihood_percentage}}%</span></p>
						<div class="factor-list">
							{% for point in data.bot_points %}
							<p class="factor" onmouseover="change_factor_description('{{point.description}}')"><img src="{% static 'img/cross.png' %}", style="margin-right: 10px; width: 1rem">{{point.name}}</p>
							{% endfor %}
						</div>
					</div>
				</div>
				<p class="statistic-title gray" id="factor_description">Hover over any criteria to get more info about it.</p>
				<!-- <p class="statistic-title"><b>Account is a moderator</b><br>If an account is a moderator, this means that this user is moderating a subreddit.</p> -->
			</div>
			
		</div>
		<div class="box bot-rank-info">
			<p class="title", style="text-align: center; margin-bottom: 0.5rem;">Bot rank</p>
			<p style="text-align: center; overflow-y: auto;">We examine behaviour patterns to evaluate the possibility of a user being a bot. There is always room for error, and no program can tell for sure if an account is run by a bot. We only provide you with useful analysis, making your verdict easier to make.</p>
		</div>
	</div>

	<footer class="footer" style="margin-top: 2rem">
        <p>&copy; 2025 ReDive</p>
        <div class="support">
            <span>Support:</span>
            <a href="mailto:redive_support@gmail.com">redive_support@gmail.com</a>
        </div>
    </footer>

	<div class="trophies-popup" id="trophies_popup">
        <div class="trophies-content custom-scrollbar">
			<p class="title">Trophies</p>
			<div class="separator-line"></div>
			{% for trophy in data.trophies %}
				<div class="trophy">
					<img src="{{ trophy.icon_40 }}">
					<p class="title" style="margin-left: 1rem; font-size: 1.5rem;">{{ trophy.name }}</p>
				</div>
			{% endfor %}
		</div>
    </div>
</body>
</html>