<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{% static 'css/analysis.css' %}">
	<script src="https://echarts.apache.org/en/js/vendors/echarts/dist/echarts.min.js"></script>
	<script src="{% static 'js/analysis.js' %}" defer></script>
	<title>ReDive analysis</title>
</head>
<body>
	<header class="header">
		<h1><span class="re">Re</span><span class="dive">Dive</span></h1>
	</header>
	<div class="section-title">
		<h2 class="section-text">ACCOUNT OVERVIEW</h2>
		<div class="section-line"></div>
	</div>
	<div class="overview width-responsive">
		<div class="flex-container", style="flex-direction: column;">
			<div class="box profile">
				<div class="profile-picture">
					<img src={{ pic }} alt="Profile Picture" />
				</div>
				<div class="profile-info">
					<p class="username">{{ name }}</p>
        			<a class="username2" href="">u/{{ username }}<img src="{% static 'img/external-link.png' %}", width="15", class="icon"></a>
        			<p class="subtext">&#9716 Analyzed on <span class="bold">{{ date_today }}</p>
				</div>
			</div>
			<div class="flex-container", style="flex-direction: row;">
				<div class="box">
					<div class="trophies-div">
						<p class="statistic-title">Trophies</p>
						<button class="trophies-button">View</button>
					</div>
					<p class="statistic", style="color: gold;">{{ trophies }}</p>
					<div class="separator-line"></div>
					<p class="statistic-title">Registration date</p>
					<p class="date-statistic">{{ date_of_creation }}</p>
					<p class="subtext">Account is <span class="bold">{{ account_age }}</span> years old</p>
				</div>
				<div class="box">
					<p class="statistic-title">Post count | <span class="orange">Post karma</span></p>
					<p class="statistic">{{ post }}〡<span class="orange">{{ post_karma }}⏏</span></p>
					<div class="separator-line"></div>
					<p class="statistic-title">Comment count | <span class="orange">Comment karma</span></p>
					<p class="statistic">{{ comment }}〡<span class="orange">{{ comment_karma }}⏏</span></p>
					<p class="subtext"><span class="bold">{{ averal_comments }}</span> comments on user's own posts</p>
				</div>
			</div>
		</div>
		<div class="flex-container", style="flex-direction: row;">
			<div class="box">
				<p class="statistic-title">Posting frequency: <span class="orange bold">{{posting_frequency}}</span> per day</p>
				<div class="statistic-line"></div>
				<div class="separator-line"></div>
				
				<p class="statistic-title">Avarage upvotes per post: <span class="orange bold">{{ up }}</span></p>
				<div class="statistic-line"></div>
				<div class="separator-line"></div>

				<p class="statistic-title">Avarage comments per post: <span class="orange bold">{{ comment_amount }}</span></p>
				<div class="statistic-line"></div>
				<div class="separator-line"></div>

				<p class="statistic-title">Avarage upvotes per comment: <span class="orange bold">{{ up_comment }}</span></p>
				<div class="statistic-line"></div>
				<div class="separator-line"></div>

				<p class="statistic-title">Upvotes to downvotes ratio: <span class="orange bold">{{ up_v_down }}</span></p>
				<div class="statistic-line"></div>
			</div>
			<div class="box", style="align-items: center; flex-shrink: 1; flex-grow: 0;">
				<p class="title">Bot rank</p>
				<p class="statistic", style="color: lightgreen;">18%</p>
				<button class="section-button">Detailed analysis ⬇</button>
				<div class="separator-line"></div>
				<p class="title">Subreddits</p>
				<a class="subtext link" href="https://www.reddit.com/{{ subredits1 }}" target="_blank">{{ subredits1 }}</a>
				<a class="subtext link" href="https://www.reddit.com/{{ subredits2 }}" target="_blank">{{ subredits2 }}</a>
				<a class="subtext link" href="https://www.reddit.com/{{ subredits3 }}" target="_blank">{{ subredits3 }}</a>
				<p class="subtext">{{ j }}</p>
				<button class="section-button", style="margin-bottom: 0;">Activity monitor ⬇</button>
			</div>
		</div>
	</div>
	<div class="section-title">
		<h2 class="section-text">ACTIVITY MONITOR</h2>
		<div class="section-line"></div>
	</div>
	<div class="flex-container width-responsive">
		<div class="box">
			<p class="title", style="line-height: 1.8rem;">Activity history</p>
			<div id="plot" class="plot"></div>
		</div>
		<div class="box", style="flex-grow: 0;">
			<p class="title", style="line-height: 1.8rem; margin-bottom: 0.5rem;">Activity by subreddits</p>
			<div class="table-container">
				<table class="table">
					<thead>
						<tr>
							<th>Name</th>
							<th>Posts</th>
							<th>Comments</th>
							<th>Upvotes</th>
						</tr>
					</thead>
					<tbody>
						<tr><td>r/politics</td><td>12</td><td>102</td><td class="orange">11021</td></tr>
						<tr><td>r/law</td><td>7</td><td>51</td><td class="orange">3004</td></tr>
						<tr><td>r/blowjobgirl</td><td>0</td><td>563</td><td class="orange">-103</td></tr>
						<tr><td>r/worldpolitics</td><td>4</td><td>30</td><td class="orange">947</td></tr>
						<tr><td>r/europe</td><td>3</td><td>12</td><td class="orange">548</td></tr>
						<tr><td>r/askreddit</td><td>1</td><td>51</td><td class="orange">306</td></tr>
						<tr><td>r/beamazed</td><td>0</td><td>12</td><td class="orange">120</td></tr>
						<tr><td>r/gaming</td><td>0</td><td>2</td><td class="orange">58</td></tr>
						<tr><td>r/gaming</td><td>0</td><td>2</td><td class="orange">58</td></tr>
						<tr><td>r/gaming</td><td>0</td><td>2</td><td class="orange">58</td></tr>
					</tbody>
				</table>
			</div>
			<p class="subreddit-count">Showed activity in 35 subreddits total</p>
		</div>
	</div>
	<div class="section-title">
		<h2 class="section-text">BEHAVIOUR ANALYSIS</h2>
		<div class="section-line"></div>
	</div>
	<div class="flex-container", style="flex-direction: row;">
		<div class="box">
			<div id="pie_chart" class="pie-chart"></div>
		</div>
	</div>
</body>
</html>