<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script>
        (function () {
          const savedTheme = localStorage.getItem('theme');
          const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          const initialTheme = savedTheme || (prefersDark ? 'dark' : 'light');
      
          const themeVars = initialTheme === 'dark' ? {
            '--header-bg': '#2b2735',
            '--container-bg': 'rgba(0, 0, 0, 0.5)',
            '--text-color': 'white',
            '--accent-color': '#a29bfe',
            '--search-bg': 'rgba(255, 255, 255, 0.5)',
            '--search-text-color': 'black',
            '--header-shadow': '0 0 2rem rgba(0, 0, 0, 0.4)',
            '--btn-hover-bg': 'white',
            '--btn-hover-text': '#a29bfe',
            '--theme-toggle-hover': 'rgba(255, 255, 255, 0.1)',
            '--filters-btn': 'rgba(255, 255, 255, 0.1)',
            '--filters-btn-hov': 'rgba(255, 255, 255, 0.4)'
          } : {
            '--header-bg': '#AE9EC4',
            '--container-bg': 'rgba(255, 255, 255, 0.3)',
            '--text-color': '#2d3436',
            '--accent-color': '#6c5ce7',
            '--search-bg': 'rgba(255, 255, 255, 0.9)',
            '--support-bg': 'rgba(0, 0, 0, 0.1)',
            '--search-text-color': 'black',
            '--header-shadow': '0 0 2rem rgba(0, 0, 0, 0.4)',
            '--btn-hover-bg': 'white',
            '--btn-hover-text': '#6c5ce7',
            '--theme-toggle-hover': 'rgba(0, 0, 0, 0.1)',
            '--filters-btn': 'rgba(0, 0, 0, 0.3)',
            '--filters-btn-hov': 'rgba(0, 0, 0, 0.5)'
          };
      
          const root = document.documentElement;
          for (const key in themeVars) {
            root.style.setProperty(key, themeVars[key]);
          }
        })();
      </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReDive</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/theme.js' %}" defer></script>
    <script src="{% static 'js/search-check.js' %}" defer></script>
    <style>
        :root {
            --search-icon: url('{% static 'img/search-icon.png' %}');
        }
    </style>

</head>
<body>
    <div id="toast-container"></div>

    <header class="header">
        <button 
            id="theme-toggle" 
            class="theme-toggle" 
            data-sun-url="{% static 'img/sun.png' %}" 
            data-moon-url="{% static 'img/moon.png' %}">
            🌓
        </button>
        <a href="{% url 'homepage' %}">
            <h1><span class="re">Re</span><span class="dive">Dive</span></h1>
        </a>
    </header>

    <div class="main-container">
        <h2>DIVE INTO ACCOUNT ANALYSIS</h2>
        <p>JUST IN A FEW CLICKS</p>
        
        <form id="user-search-form">
            <div class="searchbar">
                <input type="text" name="query" placeholder="U/USERNAME" required>
                <button type="submit" class="search-btn"></button>
            </div>
        </form>

        <a href="{% url 'datapage' %}" class="database-btn">DATABASE</a>
    </div>

    <footer class="footer">
        <p>©2025 ReDive</p>
        <p class="support">Contacts:  
            <a href="mailto:redive_support@gmail.com">redive_support@gmail.com</a>
        </p>
    </footer>
</body>
</html>
