<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReDive</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/theme.js' %}" defer></script>
    <style>
        :root {
            --search-icon: url('{% static 'img/search-icon.png' %}');
        }
    </style>

</head>
<body>
    <header class="header">
        <button 
            id="theme-toggle" 
            class="theme-toggle" 
            data-sun-url="{% static 'img/sun.png' %}" 
            data-moon-url="{% static 'img/moon.png' %}">
            🌓
        </button>
        <h1><span class="re">Re</span><span class="dive">Dive</span></h1>
    </header>

    <div class="main-container">
        <h2>DIVE INTO ACCOUNT ANALYSIS</h2>
        <p>JUST IN A FEW CLICKS</p>
        
        <form action="{% url 'analysispage' %}" method="GET">
            <div class="searchbar">
                <input type="text" name="query" placeholder="U/USERNAME" required>
                <button type="submit" class="search-btn">
                    <img src="{% static 'img/search-icon.png' %}" alt="Search">
                </button>
            </div>
        </form>

        <a href="database/" class="database-btn">DATABASE</a>
    </div>

    <footer class="footer">
        <p>©2025 ReDive</p>
        <p class="support">Contacts:  
            <a href="mailto:redive_support@gmail.com">redive_support@gmail.com</a>
        </p>
    </footer>
</body>
</html>
