<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="icon" href="{% static 'img/favicon.ico' %}" type="image/x-icon">
    <script>
        (function () {
          const savedTheme = localStorage.getItem('theme');
          const prefersDark = window.matchMedia('(prefers-color-scheme: dark)').matches;
          const initialTheme = savedTheme || (prefersDark ? 'dark' : 'light');
      
          const themeVars = initialTheme === 'dark' ? {
            '--header-bg': '#2b2735',
            '--container-bg': 'rgba(0, 0, 0, 0.5)',
            '--text-color': 'white',
            '--accent-color': '#a29bfe',
            '--search-bg': 'rgba(255, 255, 255, 0.5)',
            '--search-text-color': 'black',
            '--header-shadow': '0 0 2rem rgba(0, 0, 0, 0.4)',
            '--btn-hover-bg': 'white',
            '--btn-hover-text': '#a29bfe',
            '--theme-toggle-hover': 'rgba(255, 255, 255, 0.1)',
            '--filters-btn': 'rgba(255, 255, 255, 0.1)',
            '--filters-btn-hov': 'rgba(255, 255, 255, 0.4)'
          } : {
            '--header-bg': '#AE9EC4',
            '--container-bg': 'rgba(255, 255, 255, 0.3)',
            '--text-color': '#2d3436',
            '--accent-color': '#6c5ce7',
            '--search-bg': 'rgba(255, 255, 255, 0.9)',
            '--support-bg': 'rgba(0, 0, 0, 0.1)',
            '--search-text-color': 'black',
            '--header-shadow': '0 0 2rem rgba(0, 0, 0, 0.4)',
            '--btn-hover-bg': 'white',
            '--btn-hover-text': '#6c5ce7',
            '--theme-toggle-hover': 'rgba(0, 0, 0, 0.1)',
            '--filters-btn': 'rgba(0, 0, 0, 0.3)',
            '--filters-btn-hov': 'rgba(0, 0, 0, 0.5)'
          };
      
          const root = document.documentElement;
          for (const key in themeVars) {
            root.style.setProperty(key, themeVars[key]);
          }
        })();
      </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ReDive</title>
    <link rel="stylesheet" href="{% static 'css/common.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <script src="{% static 'js/theme.js' %}" defer></script>
    <script src="{% static 'js/search-check.js' %}" defer></script>
    <script src="{% static 'js/home.js' %}" defer></script>
    <style>
        :root {
            --search-icon: url('{% static 'img/search-icon.png' %}');
        }
    </style>

</head>
<body>
    <div id="toast-container"></div>

    <header class="header">
        <button 
            id="theme-toggle" 
            class="theme-toggle" 
            data-sun-url="{% static 'img/sun.png' %}" 
            data-moon-url="{% static 'img/moon.png' %}">
            🌓
        </button>
        <a href="{% url 'homepage' %}">
            <h1><span class="re">Re</span><span class="dive">Dive</span></h1>
        </a>
        <button 
            id="info-button"
            class="info-btn" 
            title="Info page"
            data-url="{% url 'infopage' %}"
            data-info-url="{% static 'img/info.png' %}"> 
        </button>
    </header>

    <div class="main-container">
        <div>
            <p style="font-size: 1.2rem;" class="second-text">Search across millions of accounts on Reddit</p>
            <h2 class="main-text">AND DIVE INTO <span id="changing-text" style="color: rgb(255, 207, 189);">ANALYSIS</span></h2>
            <div style="display: flex; justify-content: center; align-items: center">
                <div class="separator-line"></div>
            </div>
        </div>
        <p style="margin-bottom: 3rem; line-height: 0;"><span style="color: rgb(255, 136, 0); font-size: 2.5rem;", id="live_dot">•</span><span id="live_users">386</span> users already analyzed</p>
        
        <div class="search-container">
            <form id="user-search-form">
                <input class="searchbar" type="text" name="query" placeholder="Reddit username" required>
                <br>
                <button id="analyze-button">ANALYZE</button>
            </form>
        </div>
        <!-- <div class="separator-line" style="width: 5%;"></div> -->
        <p style="font-size: 1rem; color: lightgray;">- or -</p>
        
        <div style="border-radius: 2rem; padding: 0.5rem 2rem;">
            <a href="{% url 'datapage' %}" class="database-btn" style="margin-bottom: 0.5rem;">View a random analysis</a><br>
            <a href="{% url 'datapage' %}" class="database-btn" style="font-weight: 500;">Database</a>
        </div>

        
    </div>

    <footer class="footer">
        <p>©2025 ReDive</p>
        <p class="support">Contacts:  
            <a href="mailto:redive_support@gmail.com">redive_support@gmail.com</a>
        </p>
    </footer>

    <div id="loading-popup" class="loading-popup">
        <div class="loading-content">
            <div class="spinner"></div>
            <p>Analyzing user profile...</p>
        </div>
    </div>
</body>
</html>
